doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    link(rel='stylesheet', href='/assets/css/orderpage.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title order form
  body
    #wrapper
      #container
        #left-col
          #left-col-cont
            br
            h2 order summary
            p#itemId(data-id=`${data.id}` )
            .item
              .img-col
                img(src='https://cdn-icons-png.flaticon.com/512/2953/2953423.png', alt='')
              .meta-col
                p= `name: ${data.name} `
                p= `description: ${data.desc} `

            p#total Total
            h4#total-price
              span= `$${data.price}`
        #right-col
          br
          h2 available payment options
          // Replace "test" with your own sandbox Business account app client ID
          script(src=`${data.url}`)
          // Set up a container element for the button
          #paypal-button-container
          script(src='/js/order.js')
    h1#dailyui 007